@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Quicksand&display=swap');

.baloo{
    font-family: 'Baloo Bhai 2', cursive;
}

.qs{
    font-family: 'Quicksand', cursive;
}

.gradd-bg{
    background-image: url('/public/images/gradient\ .jpg');
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-size: cover;
    animation: bg-color ease-in-out 25s infinite;
}

.grad-bg{
    background-image: url('/public/images/gradient\ .jpg');
    background-repeat: no-repeat;
    background-position-y: 0%;
    background-size: cover;
    animation: bg-color ease-in-out 25s infinite;
}

@keyframes bg-color {
    0% {background-position-y: 0%;}
  25% {background-position-y: 25%;}
  50% {background-position-y: 50%;}
  75% {background-position-y: 75%;}
  80% {background-position-y: 100%;}
  100%{background-position-y: 0%;}
}